.app_dark_theme {
  --bg-color: #040438;
  --inverted-bg-color: #e8e8e8;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --inverted-primary-color: #033b8a;
  --inverted-secondary-color: #286cff;

  // skeleton
  --skeleton-shadow: #2b2be8;
  --skeleton-color: #1515ad;

  // code
  --code-bg: #0e0e6d;

  // card
  --card-bg: #08085e;
}
