.app.dark {
  --bg-color: #040438;
  --inverted-bg-color: #e8e8e8;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --inverted-primary-color: #033b8a;
  --inverted-secondary-color: #286cff;
}
