:root {
  --bg-color: #e8e8e8;
  --inverted-bg-color: #040438;
  --primary-color: #286cff;
  --secondary-color: #033b8a;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;

  // skeleton
  --skeleton-shadow: rgba(0 0 0 / 20%);
  --skeleton-color: #fff;

  // code
  --code-bg: #fff;

  // card
  --card-bg: #bebaba;
}
