.app_purple_theme {
  --bg-color: #f9f3fb;
  --inverted-bg-color: #4b0272;
  --primary-color: #4b0272;
  --secondary-color: #06014b;
  --inverted-primary-color: #f9f3fb;
  --inverted-secondary-color: #f6e7fd;

  // skeleton
  --skeleton-shadow: #630383;
  --skeleton-color: #ebaeff;

  // code
  --code-bg: #fff;
}
