.CommentItem {
  padding: 12px;
  border: 1px solid var(--primary-color);
}

.loading {
  border: none;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.text {
  margin-top: 10px;
}
